<section>
    <div class="container">
        <div class="row" style="padding-top: 106px">
        <div class="col-lg-1 "><label class="generated-label">SenderName</label>
        </div>
        <div class="col-lg-4 col-lg-offset-1"><mat-input-container class="" style="width: 100%;"><input matInput placeholder="Input" [(ngModel)]="emaildata.sendername"></mat-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 86px">
        <div class="col-lg-1 "><label class="generated-label">ToName</label>
        </div>
        <div class="col-lg-5 col-lg-offset-1"><mat-input-container class="" style="width: 100%;"><input matInput placeholder="Input" [(ngModel)]="emaildata.receivername"></mat-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 97px">
        <div class="col-lg-2 col-lg-offset-3"><button class="btn btn-primary" (click)="create_Emaildata()" style="width: 100%;">save</button>
        </div>
        <div class="col-lg-2 "><a routerLink="/home"><button class="btn btn-primary" style="width: 100%;">cancel</button></a>
        </div>
        </div>

    </div>
</section>
