<section>
    <div class="container">
        <div class="row" style="padding-top: 76px">
        <div class="col-lg-3 col-lg-offset-1"><button class="btn btn-primary" (click)="get_all_Emaildata()" style="width: 100%;">GetAll</button>
        </div>
        <div class="col-lg-3 "><a routerLink="/home"><button class="btn btn-primary" style="width: 100%;">Cancel</button></a>
        </div>
        </div>
        <div class="row" style="padding-top: 83px">
        <div class="col-lg-7 col-lg-offset-1"><ag-grid-angular #Table_103104Grid style="width: 100%; height: 277px;" class="ag-fresh" [gridOptions]="Table_103104GridOptions" [rowData]="array_Emaildata"></ag-grid-angular>
        </div>
        </div>

    </div>
</section>
